@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


@import 'tailwindcss';

@layer components {
  .align-elements {
    @apply mx-auto max-w-7xl px-8;
  }
  .fa-icons {
    @apply h-8 w-8 text-slate-500 hover:text-black duration-300;
  }
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-Merienda: "Merienda", sans;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(30deg);
    }
  }
  --animate-spin-slow: spin 3s linear infinite;
  --animate-wiggle: wiggle 3s linear infinite;
}
